= wrap_layout :blog do
  %main.blog-post-content{role: "main"}
    .blog-post-header
      .blog-post-title
        = current_article.title
        %span.blog-post-date.blog-post-title__date<>
          = current_article.date.to_date.iso8601

    - if current_article.data[:preprint]
      .warning-bubble
        This post isn't meant to be shared yet, it's only here to make it easier to gather feedback. Thank you

    = yield

    - if @custom_footnotes_data[:name_to_number].present?
      .footnotes{role: "doc-endnotes"}
        %ol.footnotes-list
          - @custom_footnotes_data[:name_to_number].each do |footnote_name, footnote_number|
            - text = @custom_footnotes_data[:name_to_content][footnote_name]
            %li.footnote-item{id: "fn-#{footnote_name}", role: "doc-endnote"}
              %a.footnote-backref{href: "#fn-ref-#{footnote_name}"}
                ↩
              .footnote-content
                = text
    - if @custom_footnotes_data
      - unreferenced_footnotes = @custom_footnotes_data[:name_to_content].keys - @custom_footnotes_data[:name_to_number].keys
      - if unreferenced_footnotes.present?
        - raise "Some footnotes are not referenced right now: #{unreferenced_footnotes.join(', ')}"

    %hr.comments-separator

    :javascript
      var remark_config = {
        host: "https://remark42.maxlap.dev",
        site_id: 'maxlap.dev',
        components: ['embed'],
        max_shown_comments: 30,
        theme: 'light',
        locale: 'en',
        show_email_subscription: false
      };
      (function(c) {
        for(var i = 0; i < c.length; i++){
          var d = document, s = d.createElement('script');
          s.src = remark_config.host + '/web/' +c[i] +'.js';
          s.defer = true;
          (d.head || d.body).appendChild(s);
        }
      })(remark_config.components || ['embed']);
    #remark42

    %noscript
      Please enable JavaScript to load the comments.
