= wrap_layout :blog do
  %main.blog-post-content{role: "main"}
    .blog-post-header
      .blog-post-title
        = current_article.title
        %span.blog-post-date.blog-post-title__date<>
          = current_article.date.to_date.iso8601

    - if current_article.data[:preprint]
      .warning-bubble
        This post isn't meant to be shared yet, it's only here to make it easier to gather feedback. Thank you

    = yield

    - if @custom_footnotes_data[:name_to_number].present?
      .footnotes{role: "doc-endnotes"}
        %ol.footnotes-list
          - @custom_footnotes_data[:name_to_number].each do |footnote_name, footnote_number|
            - text = @custom_footnotes_data[:name_to_content][footnote_name]
            %li.footnote-item{id: "fn-#{footnote_name}", role: "doc-endnote"}
              %a.footnote-backref{href: "#fn-ref-#{footnote_name}"}
                ↩
              .footnote-content
                = text
    - if @custom_footnotes_data
      - unreferenced_footnotes = @custom_footnotes_data[:name_to_content].keys - @custom_footnotes_data[:name_to_number].keys
      - if unreferenced_footnotes.present?
        - raise "Some footnotes are not referenced right now: #{unreferenced_footnotes.join(', ')}"

    %hr.comments-separator

    :javascript
      var remark_config = {
        host: "https://remark42.maxlap.dev",
        site_id: 'remark42.maxlap.dev',
        components: ['embed'],
        max_shown_comments: 30,
        theme: 'light',
        locale: 'en',
        show_email_subscription: false
      };
      !function(e,n){for(var o=0;o<e.length;o++){var r=n.createElement("script"),c=".js",d=n.head||n.body;"noModule"in r?(r.type="module",c=".js"):r.async=!0,r.defer=!0,r.src=remark_config.host+"/web/"+e[o]+c,d.appendChild(r)}}(remark_config.components||["embed"],document);
    #remark42

    %noscript
      Please enable JavaScript to load the comments.
