!!!
%html
  %head
    %meta{"http-equiv" => "Content-Type", content: "text/html; charset=UTF-8"}
    %meta{charset: "utf-8"}
    %meta{"http-equiv" => "x-ua-compatible", content: "ie=edge"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no"}

    = yield_content :head
    %title
      - if content_for?(:title) && current_page.data.title.present?
        - raise "Page has a title and a content_for :title, fix it please!"
      = yield_content :title
      = current_page.data.title
      | maxlap.dev
    = stylesheet_link_tag "highlighting"
    = stylesheet_link_tag "site"
    = javascript_include_tag "site"
  %body
    = yield
